/target
/Client/node_modules
/Client/dist
/Client/*.lock
/Client/.vite
/Client/.eslintcache
/Client/npm-debug.log*
/Client/yarn-debug.log*
/Client/yarn-error.log*
/resources/services.yaml
/resources/teams.yaml
/resources/injects.yaml
/resources/injects
/resources/PW
/resources/save
/resources/downloads
.env
.env.*
!.env.example
node_modules
*.log
*.tmp
*.swp
.DS_Store
.vscode
.idea
